body,
html {
  height: 100%;
  margin: 0;
  font-size: .8em; 
  width: 100%;
  overflow: hidden; 
}

/* Nav superior */
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  border-bottom: solid 2px #1DBF73;
}
header{
  position: fixed;
  top:0;
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
}
header h1{
  margin: auto;
}

/* Bloco de conteúdo principal */
main {
  display: flex;
  flex-direction: column;    
  background: #eeeeee;
  height: 100%;
  margin-top: 3rem;
  overflow: hidden;
}
/* Área de posts e lista de posts */
.post-content {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #eeeeee;  
  margin-bottom: 6rem;
}
.post-content::-webkit-scrollbar {
  display: none;
}

.post {
  min-height: 80%;
  margin-bottom: 10px;
  border-radius: 5%;
  margin: 2rem;
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}
.nome_projeto{
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
  color: white;
}
/* Configurações de imagens*/
img{
  border-radius: 50%;
}
.imagem_projeto{
  display:flex;
  justify-content: center;
  margin: 0.5rem;
}
/* Informações do card*/
.texto_projeto{
  font-size: 1rem;
  margin: 1rem;
  color: black;
}
.informacoes{
  padding: 0.5rem;
  background-color: rgb(230, 238, 238);
}
.informacoes h1{
  font-size: 1.5rem;
  margin: 1rem;
  display: flex;
  justify-items: center;
  background-color: rgb(30, 179, 79);
  padding: 0.5rem;
  border-radius: 10%;
}

.valor_projeto{
  font-size: 1.3rem;
  text-align: center;
  margin: 0.5rem;
  color: white;
  background-color: #1a794d;
}
.texto_solicitacao{
  margin: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
/* Botões do Card*/
.botoes_projeto{
  display: flex;
  justify-content: center;

}
.recusar{
  font-size: 1rem;
  background-color: red;
  text-decoration: none;
  color:white;
  padding: 1rem;
  border-radius: 5%;
}
.aceitar{
  font-size: 1rem;
  background-color: #1DBF73;
  text-decoration: none;
  color:white;
  padding: 1rem;
  border-radius: 5%;
}
/* Configurações das páginas sem card*/
.titulo_pagina{
  font-size: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
.enviar{
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color:white;
  background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}
.voltar{
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color:white;
  background-color: #1a794d;
}
.botoes_pagina{
  display: flex;
  justify-content: center;
}
.select_type{
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.nome{
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.descricao_perfil{
  display: flex;
  justify-content: center;
}
.perfil_display {
  display:flex;
  flex-direction:row;
}
.perfil_display a {
  font-size: 1rem;
  margin: 1rem;
}
/*  Menu no rodapé */
nav {
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  border-top: solid 1px #1DBF73;
  position: fixed;
  bottom: 0;
  background-color: #1DBF73;
  width: 100%;
}

nav a {
  display: flex;
  flex-direction: row;
  width: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: black;
}
.nav_home{
  display: flex;
  align-items: center;
}
.nav_home a{
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color:white;
  background-color: #1DBF73;
}